*, *::before, *::after {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    background-color: hsl(213, 99%, 27%);
    padding: 3rem;
    border-radius: 1rem;
}