* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: #272727;
    height: 100vh;
    width: 100vw;
}

.wheatherForm {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 2rem;

    left:50%;
    top: 4rem;
    transform: translateX(-50%);

    background-color: #000000;
    border-radius: 1rem;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.574);

}

.cityInput {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: black;
}
.cityInput:focus {
    outline: none;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}